.IntentPageclass {
    /* background-color:#25304c; */
    height: 854px;
    display: flex;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(37, 9, 121, 1) 35%,
      rgb(29, 2, 68) 100%
    );
}
.css-8t49rw-MuiStepConnector-line {
    display: block;
    border-color: #bdbdbd;
    border-left-style: solid;
    border-left-width: 1px;
    min-height: 367px !important;
} 