.Marketplacestyle {
    padding: 1px;
    background-color: #25304c;
    min-height: 100vh; /* Ensure the container covers the entire viewport height */
    gap: 27px;
    padding-top: 52px;
    padding-left: 27px;
    padding-right: 76px;
    display: flex;
}