.footer {
    min-height: 25vh;
    background-color: #1b2338;
    padding: 1px;
    /* position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; */
}